.header {
    font-size: 60px;
    color: red;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 50px;
}
.subHeader {
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
    font-style: italic;
}
p {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}
div {
    text-align: center;
    margin-bottom: 20px;
}
form {
    text-align: center;
    margin-bottom: 20px;  
}
/* body {
    background: url('../images/crystalBall.jpg') ;
} */
.gameContainer{
    background-color: aquamarine;
    padding: 20px;
    /* margin-top: 50px; */
    width: 15%;
    margin: auto;
    margin-top: 30px;
    border: 10px;
    border-style: dashed;
    border-color: red;
}